.product {
    display         : flex;
    flex-direction  : column;
    justify-content : flex-end;
    max-height      : 400px;
    min-height      : 100px;
    background-color: white;
    margin          : 10px;
    z-index         : 1;
    width           : 100%;
    padding         : 20px;
    border-radius   : 12px;


}

.product>p {
    justify-content: left;
}

.product__info {
    height       : 100px;
    margin-bottom: 15px;
}

.product_info2 {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.product_img {
    max-height   : 200px;
    width        : 100%;
    object-fit   : contain;
    margin-bottom: 15px;

}

.product__price {
    margin-top: 5px;
}


.product_rating {
    display: flex;
}

.btn {
    background-color: #f0c14b;
    border          : 1px solid #ccc;
    border-color    : #a88734 #9c7e31 #846a29;
    padding         : 9px 12px;
    cursor          : pointer;
    border-radius   : 8px;
}